.header
  width: 100%
  position: relative
  z-index: 3
  padding: 27px 0
  background: #fff
  +r($lg)
    padding: 0
    position: fixed
    top: 0
    left: 0
    width: 100%
  .mobile-menu
    display: none
    &.open
      display: block  
    .all
      padding: 0
      box-shadow: none
  &.--menu-open
    .svg-icon--user
      display: none
    .header__logo
      margin-left: 0
    .mobile-menu.open
      display: block
      position: absolute
      width: 100%
      background: #fff
      top: 100%
      left: 0
      height: calc(100vh - 84px)
      overflow: auto
      .header__nav-menu
        display: block
        position: relative
        top: 0
        padding-left: 16px
        padding-right: 16px
  &.--lk-open
    .svg-icon--user
      display: none
    .header__logo
      margin-left: 0
    .mobile-menu.open
      display: block
      position: absolute
      width: 100%
      background: #fff
      top: 100%
      left: 0
      height: calc(100vh - 84px)
      overflow: auto
      .header__nav-menu
        display: block
        position: relative
        top: 0
        padding-left: 16px
        padding-right: 16px
  .all
    display: flex
    +r($lg)
      align-items: center
      box-shadow: 0px 2px 4px 0px #0000001F
      padding: 17px 16px
      position: relative
      z-index: 2
    +r($sm)
      padding: 12px 16px
    //align-items: center
  &__logo
    min-width: 40px
    margin-right: 24px
    +r($lg)
      margin: 0 auto
    +r($sm)
      min-width: 26px
      height: 32px
      img
        height: 32px
  &__lk
    display: none
    +r($lg)
      display: block
  &__nav
    display: flex
    //align-items: center
    flex: 1 1 auto
    margin-right: 24px
    +r($lg)
      // margin-left: auto
      flex: 0
      margin-right: 0
    &-ico
      display: none
      width: 42px
      height: 42px
      +r($lg)
        display: flex
        align-items: center
        justify-content: center
        
    &-menu
      padding: 0
      margin: 0
      list-style: none
      font-weight: 700
      display: flex
      //align-items: center
      justify-content: space-between
      flex: 1 1 auto
      +r($lg)
        display: none
        position: absolute
        top: 100%
        left: 0
        width: 100%
        &.open
          display: block
      .nav-menu-item
        display: flex
        align-items: center
        padding-bottom: 27px
        margin-bottom: -27px
        +r($lg)
          margin: 0 0 24px
          padding: 0
          width: 100%
          flex-direction: column
          align-items: normal
          font-size: 28px
        a
          &:hover
            color: $clrPrimaryMain
        &__submenu
          &.--open
            .nav-menu-item__link
              border-bottom-width: 2px
          &:hover
            .submenu
              @media(min-width: 1024px)
                display: block
        &__link
          display: flex
          padding: 8px 16px
          color: $clrGrey90
          align-items: center
          +r($lg)
            padding-left: 0
            padding-right: 0
            border-bottom: 1px solid $clrPrimaryMain
          &.--arr
            .svg-icon--menu-arr
              fill: none
              margin-left: 8px
              +r($lg)
                width: 16px
                height: 16px
              .p1
                fill: #1D2533
                +r($lg)
                  fill: #0096E0
              .p2
                stroke: #1D2533
                +r($lg)
                  stroke: #0096E0
                
  .submenu
    display: none
    z-index: 1
    position: absolute
    top: calc(100% - 2px)
    left: 0
    width: 100%
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.09)
    background: #fff
    border-radius: 0 0 32px 32px
    overflow: auto
    max-width: 100%
    max-height: calc(100vh - 130px)
    +r($lg)
      position: relative
      top: 0
      width: auto
      min-width: 100%
      padding-top: 24px
      overflow: unset
      box-shadow: none
      border-radius: 0
    &.open
      display: block
    a
      color: #000
      &:hover
        color: $clrPrimaryMain
    &__wrapper
      width: 100%
    &__title
      font-size: 12px
      font-weight: 700
      text-transform: uppercase
      color: $clrPrimaryPressed
      padding: 8px 0
      border-bottom: 1px solid $clrPrimaryPressed
    &__items
      padding-top: 32px
      margin: 0 -10px
      display: flex
      flex-wrap: wrap
      +r($lg)
        padding-top: 24px
        
    &__item
      min-width: 33.333%
      max-width: 33.333%
      padding: 0 10px 30px
      font-size: 16px
      color: $clrGrey70
      font-weight: 400
      +r($lg)
        min-width: 100%
        max-width: 100%
        padding-bottom: 24px
      &-up
        display: flex
        padding-bottom: 8px
        background: url(/img/caret-right.svg) 100% 0 no-repeat
      &-label
        font-size: 20px
        font-weight: 700
        color: #000
        padding-bottom: 8px
        padding-top: 3px
        +r($lg)
          padding-bottom: 4px
          padding-right: 35px
        +r($xss)
          font-size: 18px
      &-bottom
        padding-top: 4px
        padding-right: 30px
        +r($lg)
          padding-top: 0
    &__icon
      min-width: 32px
      max-width: 32px
      margin-right: 10px
    .list-submenu3
      margin: 0
      padding: 0
      list-style: none
      +r($lg)
        fz14
      li
        display: block
        font-weight: 700
        & + li
          margin-top: 12px

  &__right
    display: flex
    margin-left: auto
    +r($lg)
      display: none
    .b-links-logins
      display: flex
      align-items: center
      .btn
        &+.btn
          margin-left: 24px
    .b-view-low-vision
      margin-left: 24px
      display: flex
      align-items: center
      &:hover
        opacity: .8
      svg
        fill: none


.auth-info
  display: flex
  align-items: center
  position: relative
  
  &.show
    .auth-info__dropdown
      display: block
  &-wrapper
    display: flex
    align-items: center
    gap: 24px
  &__label
    overflow: hidden
    white-space: nowrap
    display: flex
    align-items: center
    gap: 8px
    cursor: pointer
  &__list
    margin: 0 -16px
    padding: 0
    list-style: none
    display: flex
    flex-direction: column
    li
      padding: 12px 16px
      border-top: 1px solid $clrGrey40
  &__dropdown
    display: none
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10)
    border-radius: 4px
    background: #fff
    padding: 16px 16px 4px
    position: absolute
    top: 100%
    right: 0
    z-index: 3
    width: 230px
    font-weight: 300
    font-size: 14px
    white-space: normal
    .name
      font-weight: 500
      padding-bottom: 8px
    .text
      padding-bottom: 12px
