.login
  display: flex
  &-img
    max-width: 560px
    min-width: 560px
  &-form
    width: 100%
    max-width: 360px
    margin: 0 auto
    &__title
      text-align: center
      padding-bottom: 40px
    .form-item
    .form-label
      font-weight: bold
  &-wrapper
    flex: 1 1 auto
    
