.lvl1
  padding-bottom: 120px
  .all
    position: relative
  &-content
    position: relative
    z-index: 1
    padding-right: 350px
    .search-box__tags
      margin-right: -100px
    .lvl-title
      padding-bottom: 64px
  .h1-title
    margin: 0
    padding: 0
    font-size: 82px
  .subtitle
    font-size: 18px
    color: $clrGrey60
  &-circ
    width: 380px
    height: 380px
    border-radius: 50%
    background: $clrGrey30
    position: absolute
    top: 120px
    left: -250px
  &-img
    position: absolute
    top: 0
    right: 0

    
.lvl2
  padding-bottom: 120px
  .boxinfo-list
    display: flex
    flex-wrap: wrap
    .boxinfo
      padding: 10px
    .box-1
      min-width: 50%
      max-width: 50%
      .boxinfo-img
        top: 0
        margin-top: -20px
        margin-bottom: -32px
    .boxs-mini
      min-width: 50%
      max-width: 50%
      display: flex
      flex-direction: column
      .boxinfo
        flex: 1 1 auto
        display: flex
        &-wrapper
          display: flex
        .title
          flex: 1 1 auto
          font-size: 28px
          padding-bottom: 0
          display: flex
          align-items: flex-end
      .boxinfo-img
        position: absolute
        bottom: 0
        right: 0
        margin: 0
        top: auto

.lvl3
  padding-bottom: 120px
  
  
.lvl4
  .main-title
    padding-bottom: 48px
    

.popular
  &-list
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
  &-item
    max-width: 50%
    min-width: 50%
    padding: 10px
    &-wrapper
      border: 1px solid $clrPrimaryBorder
      padding: 24px
      border-radius: 24px
    &__header
      display: flex
      
      .right
        flex: 1 1 auto
    &__content
      padding-top: 48px
    .img
      min-width: 100px
      max-width: 100px
      margin-right: 24px
    .title
      font-size: 20px
      font-weight: 700

    .text
      font-size: 18px
     
    .info-list
      margin: 0
      padding: 0
      list-style: none
      display: block
      li
        display: inline-flex
        vertical-align: top
        margin: 0 12px 12px 0
      .mini-info
        display: inline-flex
        padding: 4px 12px
        background: $clrGrey30
        border-radius: 100px
        font-size: 14px
        font-weight: 700
        gap: 8px
        &__ico
        &__text
    .small-label
      display: inline-flex
      vertical-align: top
      &-list
        display: flex
        flex-wrap: wrap
        gap: 32px
      &__icon
        margin-right: 8px
        display: flex
        align-items: center
